.about {
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  border: 0;
  border-top: 1px solid var(--muted-border);
  width: 80vw;
  max-width: 500px;
}
.about-links {
  margin-top: 20px;
}
.about-links a {
  color: inherit;
  transition: all 0.5s ease-in-out;
}

.about-text {
  width: 60vw;
  max-width: 800px;
  min-width: 200px;
  margin-bottom: 30px;
}
