.skill-list {
  list-style: none;
  border: 1px #ddd solid;
  border-radius: 3px;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.icon{
  height: 16px;
  width: 16px;
  filter: grayscale(100%);
}

.skill{
  display: flex;
  align-items: center;

}